{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">        
            <section class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'CRUD:index' %}">TelePizza ES</a>
            </section>
            <section id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if activeTab == 'clientes' %}class="active"{% endif %}><a href="{% url 'CRUD:clientes' %}">Clientes</a></li>
                    <li {% if activeTab == 'atendentes' %}class="active"{% endif %}><a href="{% url 'CRUD:atendentes' %}">Atendentes</a></li>
                    <li {% if activeTab == 'motoqueiros' %}class="active"{% endif %}><a href="{% url 'CRUD:motoqueiros' %}">Motoqueiros</a></li>
                    <li {% if activeTab == 'cardapio' %}class="active"{% endif %}><a href="{% url 'CRUD:cardapio' %}">Cardápio</a></li>
                    <li {% if activeTab == 'pedidos' %}class="active"{% endif %}><a href="{% url 'CRUD:pedidos' %}">Pedidos</a></li>
                </ul>
            </section>
      </section>
    </nav>
    </header>
    <article>
        <section class="container-fluid">            
            {% block content %}
            {% endblock %}
        </section>        
    </article>
    <footer>
    </footer>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>