{% extends 'base.html' %}

{% block title %}
    Cardápio
{% endblock %}

{% block content %}
    <section class="row">
        <h3 class="text-center">
            Cardápio
        </h3>
    </section>
    <section class="row">
        <section class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td>{{produto.description}}</td>
                            <td>{{produto.price}}</td>
                            <td>{{produto.type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </section>
    </section>
{% endblock %}